@font-face {
  font-family: firacode;
  src: url(./fonts/FiraSans.ttf);
  font-style: italic;

  font-family: acme;
  src: url(./fonts/Acme.ttf);

  src: url(fonts/PtsansRegular.ttf);
  font-family: ptsans;
}

body {
  background-color: white;
}
.multiplename {
  background-color: #f1d3b3;
  font: 20px Georgia, "Times New Roman", Times, serif;
  font-family: ptsans;
}

h2 {
  font-family: firacode;
}

h2:hover {
  background-color: #61764b;
  width: auto;
}

a {
  text-decoration: none;
  font-size: larger;
  font-weight: 500;
  margin: 30px;
}

a:hover {
  background: #285430;
  border-radius: 3px;
}

a:visited {
  color: #003865;
}

div {
  background-color: #6c4ab6;
  height: 40px;
  text-align: center;
  font-family: acme;
}
#fastforward:hover {
  background-color: #ba94d1;
}

p {
  font-family: ptsans;
}
