.container {
  background-color: rgb(177, 48, 48);
  height: 400px;
  width: 300px;
}
.box {
  height: 100px;
  width: 100px;
  background-color: black;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
